.Container{
   width:95%;
   margin:auto;
   margin-top: 110px;;
  
}
.Container>h1{
   color: #2f3337;
   font-size: 36px;
   font-weight: 700;
}
.SearchBy{
   display:flex;
   justify-content: flex-end;
   text-align: center;
}
.MugsData{
   margin: auto;
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
 gap:20px;
 font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
 color:#444;
 


}
.MugsData>div{
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.Mugs>span{
   font-weight: 700;
   font-size: 15px;
   padding: 10px;
}
.Mugs>div>h1{
   padding: 10px;
   color: black;
   font-weight: 600;

}
.Mugs>div>p{
   padding: 10px;
}
.Mugs>div>h3{
   font-weight: 600;
   font-size: 13px;
   padding-left: 10px;
   padding-bottom: 10px;
   text-decoration: line-through;
   padding-bottom: 70px;
}
.icon{
   margin-left: 70px;
 font-size: 16px;

}
.icon:hover{
   cursor: pointer;
   text-decoration: underline;
   color: black;
 font-size: 16.1px;
}
.heart:hover{
   color:white;background-color: red;
}




.Single{
   margin:auto;
   margin-top: 140px;
   width:80%;
   display:flex;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.Single>div>div>h2{
   font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
   color: #2f3337;
   font-size: 30px;
   font-weight: 700;
   margin-left: 80px;

}
.Single>div>div>h1{
   font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
   color: #2f3337;
   font-size: 30px;
   font-weight: 700; 
     margin-top: 100px;
     margin-left: 50px;
}
.star{
   margin-left: 70px;
   margin-top: 20px;
  }
  .shop{
   margin-left: 70px;
   margin-top: 20px;

  }
  .btn{
   margin-top: 40px;
   margin-left: 40px;
   margin-bottom: 40px;

}
.btn>:nth-child(1){
   background:grey;
   color: white;
   margin-left: 20px;
}
  .btn>:nth-child(2){
   font-size: 20px;
   padding: 22px;
   background:grey;
   color: white;
   margin-left: 30px;
  }
  .btn>button:hover{
   background: #000;
  }


@media only screen and (min-width: 250px) and (max-width: 500px) {
   .Container{
      width:90%;
      margin-top: 50px;
   }
   .Container>h1{
      margin-top:65px;
      font-size: 30px;
   }
   .SearchBy{
      display:flex;
      justify-content: flex-end;
      text-align: center;
   }
   .MugsData{
      margin: auto;
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(1,1fr);
    gap:12px;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    color:#444;
   
   }
   .icon{
      margin-left: 60px;
      font-size: 17px;
   }
   
   .Single{
      margin:auto;
      margin-top: 100px;
      width:90%;
      display:flex;
      flex-direction: column;
   }
   .Single>div>div>h2{
      font-size: 27px;
      
   }
   .Single>div>div>h1{
      font-size: 27px;
        margin-top: 80px;
       
   }
   .star{
      margin-left: 50px;
      margin-top: 18px;
     }
     .shop{
      margin-left: 50px;
      margin-top: 20px;
   
     }
     .btn{
      margin-top: 20px;
      margin-left: 20px;
   }
   .btn>:nth-child(1){
      margin-left: 15px;


   }
     .btn>:nth-child(2){
      font-size: 18px;
      padding: 10px;
      margin-left: 25px;
     }
     
  
  
}

@media only screen and (min-width: 500px) and (max-width: 700px) {

   .Container{
      width:90%;
      margin-top: 50px;;
   }
   .Container>h1{
      font-size: 30px;
   }
   .SearchBy{
      display:flex;
      justify-content: flex-end;
      text-align: center;
   }
   .MugsData{
      margin: auto;
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
    gap:12px;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    color:#444;
   
   }
   .icon{
      margin-left: 20px;
      font-size: 13px;
   }
   .Single{
      margin:auto;
      margin-top: 100px;
      width:90%;
      display:flex;
      flex-direction: column;
   }
   .Single>div>div>h2{
      font-size: 27px;
      margin-left: 80px;
   }
   .Single>div>div>h1{
      font-size: 27px;
        margin-top: 80px;
        margin-left: 30px;
   }
   .star{
      margin-left: 50px;
      margin-top: 18px;
     }
     .shop{
      margin-left: 50px;
      margin-top: 20px;
   
     }
     .btn{
      margin-top: 20px;
      margin-left: 20px;
   }
   .btn>:nth-child(1){
      margin-left: 15px;
   }
     .btn>:nth-child(2){
      font-size: 18px;
      padding: 10px;
      margin-left: 25px;
     }
     
   
}

@media only screen and (min-width: 700px) and (max-width: 900px) {

   .Container{
      width:95%;
      margin-top: 50px;;
   }
   .MugsData{
      margin: auto;
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3,1fr);
    gap:8px;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    color:#444;
   
   }
   .icon{
      margin-left: 0px;
   }
   .Single{
      margin:auto;
      margin-top: 100px;
      width:90%;
      display:flex;
   }
   .Single>div>div>h2{
      font-size: 27px;
      margin-left: 80px;
   }
   .Single>div>div>h1{
      font-size: 27px;
        margin-top: 80px;
        margin-left: 30px;
   }
   .star{
      margin-left: 50px;
      margin-top: 18px;
     }
     .shop{
      margin-left: 50px;
      margin-top: 20px;
   
     }
     .btn{
      margin-top: 20px;
      margin-left: 20px;
   }
   .btn>:nth-child(1){
      margin-left: 15px;
   }
     .btn>:nth-child(2){
      font-size: 18px;
      padding: 10px;
      margin-left: 25px;
     }
     
}



