.list_contain{
    width: 85%;
}
.list_one{
    height:150px;  
    background-color: rgba(231, 238, 237, 0.534);
    color: white;
    margin-bottom: 20px;
}
.list_one_one{
    display: flex;
    justify-content: space-between;
}
.list_one_two{
    width: 50px;
    height: 50px;
    background-color: red;
    text-align: center;
    font-size: 25px;
    border-radius:50% ;
}
.list_one_three{
    font-size: 18px;
    color: black;
}
.list_one_four{
    width: 80%;
    background-color: rgba(161, 165, 164, 0.534);
    text-align: center;
    margin: auto;
    padding: 10px;
    color: black;
}
.list_one_five{
    padding-top: 10px;
    display: flex;
    color: black;
}
.list_two_one, .list_three_one{
    display: flex;
    justify-content: space-between;
}
.list_two_two,.list_three_three{
    display: flex;
    margin: 10px 0px;
    font-size: 20px;
    justify-content: space-between;
}