#footerContainer {
    /* margin-top: ; */
    margin-bottom: 0px;
    display: flex;
    column-gap: 10px;
    height: 29.8rem;
    width: 100%;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
  }
  #footerContainer a {
    color: white;
  }
  .box1Footer {
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #545658;
    color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    justify-content: center;
  }
  .box2Footer {
    width: 100%;
    background-color: #2F3337;
    height: 20%;
    display: flex;
    color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  .infoDiv {
    display: flex;
    flex-direction: column;
    width: 20%;
  }
  .infoDiv > a {
    font-size: 12px;
    line-height: 20px;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
  .infoDiv > .headInfoFooter {
    font-weight: 700;
    margin-top: 3.6rem;
    margin-bottom: 5px;
    line-height: 1.5;
  }
  .copyrightSec {
    font-size: 12px;
    line-height: 1.5;
    margin: 0.9rem 7rem;
  }
  .privacySec {
    font-size: 12px;
    line-height: 1.5;
    margin-left: 20rem;
    margin-top: 2.5rem;
  }
  .privacySec > a {
    margin-left: 1rem;
  }
  .footerMediaDiv {
    display: none;
  }
  .mediaAnchor {
    display: none;
  }
  /* MEDIA QUERIES */
  @media only screen and (max-width: 720px) {
    .infoDiv {
      display: none;
    }
    .box1Footer {
      background-color: #2F3337;
      height: 65%;
      justify-content: space-between;
      /* width: 100%; */
    }
    /* .box2Footer{
        background-color: #2F3337;
        height: 35%;
      } */
    .footerMediaDiv {
      display: block;
      display: flex;
      width: 100%;
    }
    .footerDiv_1 {
      display: flex;
      flex-direction: column;
      /* border: 1px solid black; */
      width: 100%;
      padding-left: 10px;
    }
    .footerDiv_1 > a {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 1rem;
      font-size: 100%;
    }
    .footerDiv_2 {
      display: flex;
      flex-direction: column;
      /* border: 1px solid black; */
      width: 100%;
      /* margin-left: 15rem; */
    }
    .footerDiv_2 > a {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 0rem;
      font-size: 100%;
    }
    .mediaAnchor {
      display: block;
      text-align: center;
      margin-top: 0.5rem;
      font-size: 100%;
    }
    .privacySec {
      display: none;
      /* line-height:10; */
    }
    .box2Footer {
      width: 100%;
      background-color: #2F3337;
      height: 35%;
      display: flex;
      flex-direction: column;
      color: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    .copyrightSec {
      margin-top: 0rem;
      text-align: center;
      font-size: 100%;
    }
  }