.signup_signin{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.signup_one input{
    border: 1px solid gray;
    width: 85%;
    height: 40px;
}
.signup_six input{
    height: auto;
    width: auto;
}
.signup_six{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_signin h3{
    font-size:40px ;
    margin-bottom: 50px;
}
.signup_signin button{
    border: 1px solid black;
    width: 85%;
    height: 40px;
}
.signup_six {
    border: 1px solid gray;
    width: 85%;
    padding: 10px 20px;
}
.signup_six+button{
    margin-bottom: 20px;
    border: none;
    background-color: rgb(15, 135, 216);
    color: white;
}
.signup_seven p{
    text-align: left;
    line-height: 1.6rem;
}
.signin_login input{
    border: 1px solid gray;
    width: 85%;
    height: 40px;
}
.signin_login button{
    background-color: rgb(0, 165, 96);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.signin_login u{
    color: rgb(10, 89, 236);
}
.signin_login u:hover{
    cursor: pointer;
}
.signup_three{
    display: flex;
}
.signin_one{
    line-height: 40px;
}
.signup_seven u:hover{
    cursor: pointer;
}
.signup_seven u{
    color: rgb(102, 39, 39);
}
.signup_two1{
    line-height: 40px;
}
@media screen and (max-width:1000px) {
    .signup_signin{
        grid-template-columns: repeat(1,1fr);
    }
    .signup_three{
        display: grid;
    }
}