.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.resp-nav{
  display: none;
}

.low-banner {
  position: relative;
  width: 100%;
  min-width: 800px;
  height: 400px;

  /* background-image: url(./image/low-banner.jpg); */
  text-align: center;
  overflow: hidden;
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  /* border: 1px solid red; */
}


@media (max-width: 900px) {
  .main-nav{
    display: none;
  } 
  .resp-nav{
    z-index: 10;
    display: block;
    position:sticky;
    top:auto;
  }


}